# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
*.sqlite
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage

# IDEs
.vscode/
.idea/
.DS_Store
